*{
    padding: 0;
	margin: 0;
	text-transform: capitalize;
	box-sizing: border-box;
	text-decoration: none;  
	font-family: sans-serif;    
}

.counter{
	margin: 20px auto;
	width: fit-content;
	text-align: center;
}

.counter h3{
	font-size: 45px;
}

.buttons{
	margin-top: 10px;
}

button{
	padding: 5px;
	color: white;
	font-weight: bolder;
	font-size: 16px;
	border-radius: 5px;
}

button:nth-child(1), button:nth-child(3){
	background-color: lightblue;
	width: 100px;
	border: 3px solid rgb(9, 9, 159);
	color: black;
}

button:nth-child(2){
	background-color: blue;
	border: 3px solid navy;
}

button:nth-child(2):hover{
	background-color: lightblue;
	color: black;
}

button:nth-child(1):hover, button:nth-child(3):hover{
	background-color: navy;
	color: white;
}
